

  .grid-container {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    background-size: cover;
    background-repeat: repeat-x;
    padding-bottom:200px;
  }


.gridpic {
  object-fit: cover;
}
  .Cottage {
    background-color: white;
    height:400px;
    border:solid rgb(191, 255, 255);
    filter: drop-shadow(10px 6px 6px #add8e6);

  }

  


  .headline {
    padding:50px;
    margin:0px !important;
    background-position: top;
    background-position-y: top;
  }

  @media (max-width: 900px) {
    .grid-container {
      grid-template-columns: repeat(1,1fr); /* Display as a single column */
      justify-items: center;
    }
  }