.innerwrapper {
    display: flex;
    gap:50px;
    justify-content: space-between;
    padding-left: 50px;
    padding-right:50px;

}

ul {
    list-style-type: none;
}

#googlemaps {
    width:100%;
}

.footer {
    background-color:  rgba(130,246,186,1);
    width:100%;
}

