@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .galpic {
    width: 100%;
    height: 100%;
  }
  
  .galpic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
  