.imagecontainer {
    display:flex;
    width:100%;
    height:800px;
    background-image: url('../public/ssheader.png');
    background-position:center;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    background-size:2900px 800px;
    margin-top:-10%;
    
}
.booking {
    font-size: 25px;
    height: 50px;
    width: 300px;
    border-radius: 20px;
    border: solid white;
    background: transparent;
    color: white;
}
.booking:active {
  background-color: white;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  color:black;
}

.sandy {
    padding-top:250px;
    color:white;
    font-size:70px;
}

.location {
    color:white;
    font-size:35px;
}

@media (max-width: 900px) {
    .imagecontainer {
margin-top:-100px;    }
    
    .booking {
      font-size: 30px; /* Reduce font size */
    }
    
    .sandy {
      padding-top: 200px; /* Reduce padding */
      font-size: 50px; /* Reduce font size */
    }
    
    .location {
      font-size: 25px; /* Reduce font size */
    }
  }
  