.imagecontainer {
    display:flex;
    width:100%;
    height:750px;
    background-image:url("/header.jpg");
    background-position:center;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    background-size:2900px 800px;
    margin-top:-10%;
    
}
.booking {
    font-size: 25px;
    height: 50px;
    width: 300px;
    border-radius: 20px;
    border: solid white;
    background: transparent;
    color: white;
}
.booking:active {
  background-color: white;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  color:black;
}

.sandy {
    padding-top:250px;
    color:white;
    font-size:70px;
}

.location {
    color:white;
    font-size:35px;
}

@media (max-width: 900px) {
    .imagecontainer {
margin-top:-100px;    }
    
    .booking {
      font-size: 30px; /* Reduce font size */
    }
    
    .sandy {
      padding-top: 200px; /* Reduce padding */
      font-size: 50px; /* Reduce font size */
    }
    
    .location {
      font-size: 25px; /* Reduce font size */
    }
  }
  
  .custom-shape-divider-bottom-1686953254 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1686953254 svg {
    position: relative;
    display: block;
    width: calc(129% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1686953254 .shape-fill {
    fill: #FFFFFF;
}