

body {
    opacity:0;
    animation-name:fadeIn;
    animation-duration: 2s;
    animation-fill-mode:forwards;
}

@keyframes fadeIn {
  from{
    opacity:0;
  }
  to {
    opacity:1;
  }
}

@media (max-width: 900px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }
}
